 .roxo{
    background-color: blueviolet;
    padding: 30px;
    display:flex;
    justify-content: center;
 }

 .blue{
    background-color: blue;
    padding: 20px;
    margin: 10px;
 }

 .yo{
    background-color: yellow;
    padding: 30px;
    margin: 10px;

 }

 .flex{
    display: flex;
 }

 .gordo{
    background-color:rgb(0, 0, 0);
    padding-right: 110px;
    
 }

 .alto{
    background-color:rgb(0, 0, 0);
    padding-bottom: 110px;
    
   
 }

 .muitogordo{
   background-color:rgb(0, 0, 0);
    padding: 70px;
  
 }